
@{
    ViewBag.Title = "Моя корреспонденция";
}
<script>
    fireSubmit = function (event) {
        document.getElementById("send").click();
    }
</script>
<h4 class="zagolovki">Моя корреспонденция</h4>

@using (Ajax.BeginForm("CorrespondenceListPartial", "User", null, new AjaxOptions { UpdateTargetId = "results" }, new {@name= "myForm" }))
{
    <select name="vidSoobsh" onchange="fireSubmit(event)">
        <option value="vhod">Входящие</option>
        <option value="ishod">Исходящие</option>
    </select>

    <input type="submit" id="send" value="Отправить" style="display:none;" />
}
<div id="results">
    @Html.Partial("CorrespondenceListPartial")
</div>

