
@{
    ViewBag.Title = "Диалог";
    ViSED.Models.Accounts account = ViewBag.MyAccount;
    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();
    int msgCountr = ViewBag.MsgCount;
}

<h4  class="zagolovki">Диалог</h4>
@Html.Partial("DialogPartial")