
@{
    ViewBag.Title = "Диалог";
    ViSED.Models.Accounts account = ViewBag.MyAccount;
    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();
    int msgCountr=1;
}
<script type="text/javascript">
    window.onload = function () {
        var block = document.getElementById("scroll");
        block.scrollTop = block.scrollHeight;
    }
</script>

<h4  class="zagolovki">Диалог</h4>

@using (Ajax.BeginForm("DialogPartial", "User", new { userId = ViewBag.UserId, msgCount = msgCountr }, new AjaxOptions { UpdateTargetId = "results" }, null))
{
    <input type="submit" onclick="plus()" value="Загрузить предыдущие сообщения" class="knopka" />
}
<br />
<div id="scroll" class="overflowClassDialog">
    @Html.Partial("DialogPartial")
</div>