
@{
    ViewBag.Title = "Диалог";
    ViSED.Models.Accounts account = ViewBag.MyAccount;
    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();
}
<script type="text/javascript">
    window.onload = function () {
        var block = document.getElementById("scroll");
        block.scrollTop = block.scrollHeight;
    }
    var x = 10;
    function plus() {
        var inp = document.getElementById("chisloSoobsh");
        inp.value = x;
        x+=5;
    }
</script>

<h4  class="zagolovki">Диалог</h4>

@using (Ajax.BeginForm("DialogPartial", "User", new { userId = ViewBag.UserId }, new AjaxOptions { UpdateTargetId = "results" }, null))
{
    <input type="hidden" id="chisloSoobsh" name="chisloSoobsh" />
    <input type="submit" onclick="plus()" value="Загрузить предыдущие сообщения" class="knopka" />
}
<br />
<div id="scroll" class="overflowClassDialog">
    @Html.Partial("DialogPartial")
</div>