@model IEnumerable<ViSED.Models.DocType>

@{
    ViewBag.Title = "Выбор вида документа";
}

<h4  class="zagolovki">Выбор вида документа</h4>
<br />
@foreach (var item in Model)
{
    <div class="docSelectItem" onclick="location.href='@Url.Action("DocData","User", new { id=item.id })'" >@item.Name</div>
}
