@model ViSED.Models.Message

@{
    ViewBag.Title = "Просмотр документа";

    ViSED.Models.Users userTo = ViewBag.UserTo;
    ViSED.Models.Users userFrom = ViewBag.UserFrom;
    ViSED.Models.DocType docType = ViewBag.DocType;
}

<h4>Просмотр документа</h4>
@Html.Partial("DocViewPartial")

