@model ViSED.Models.MyTask

@{
    ViewBag.Title = "Просмотр документа";

    ViSED.ProgramLogic.UserModelFoSklonen userTo = ViewBag.UserTo;
    ViSED.ProgramLogic.UserModelFoSklonen userFrom = ViewBag.UserFrom;
    ViSED.Models.DocType docType = ViewBag.DocType;
}

<h4>Просмотр документа</h4>
@using (Html.BeginForm("SavePdf", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.Msg.id" name="doc_id" />
    <input type="submit" value="Сохранить" class="knopka"  />
}
@Html.Partial("DocViewPartial")

