
@{
    ViewBag.Title = "Личный кабинет";
}

<h4>Личный кабинет</h4>
<div><span id="notification" style="color:red;font-size:15px;"></span></div>

<ul>
    <li>@Html.ActionLink("Моя корреспонденция", "CorrespondenceList", "User", null, null) <span id="messageCount">(Не прочитано @ViewBag.MsgToMe)</span></li>

    <li>@Html.ActionLink("Отправить документ","DocSelect","User",null,null)</li>
</ul>
