@if (Request.IsAuthenticated)
{

        <ul class="loginPartial">

            @{
                ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();

                var myAccount = (from u in vsdEnt.Accounts where u.login == User.Identity.Name select u).FirstOrDefault();

                var myUser = (from u in vsdEnt.Users where u.id == myAccount.user_id select u).FirstOrDefault();

                var userRole = (from ur in vsdEnt.Roles where ur.id == myAccount.role_id select ur).FirstOrDefault();


                if (userRole.RoleName == "Admin")
                {
                    <li>@Html.ActionLink("Панель администратора", "AdminLK", "Admin", null, null) </li>
                }
                else
                {
                    <li>
                    </li>
                    <li>@Html.ActionLink("Личный кабинет", "UserLK", "User",null,null)</li>

                }
            }

            <li>@Html.ActionLink("Выйти", "LogOff", "Account", null, null)</li>
        </ul>
 }
 else
 {
     <ul class="loginPartial">
         <li></li>
         <li>@Html.ActionLink("Выполнить вход", "Login", "Account",null, null)</li>
     </ul>
 }
