@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();

                    var user = (from u in vsdEnt.Accounts
                                where u.login == User.Identity.Name
                                select u).FirstOrDefault();

                    var userRole = (from ur in vsdEnt.Roles
                                    where ur.id == user.role_id
                                    select ur).FirstOrDefault();
                    if (userRole.RoleName == "Admin")
                    {
                        @Html.ActionLink("Личный кабинет", "AdminLK", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" })
                    }
                    else
                    {
                        @Html.ActionLink("Личный кабинет", "UserLK", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
                    }
                }
                
                
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

