@model ViSED.Models.MyDocs

@{
    ViewBag.Title = "Удалить документ";
}

<h4  class="zagolovki">Вы уверены, что хотите удалить этот документ?</h4>
<br />
<div>
    <dl>
        <dt  class="zagolovki">
            Документ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.myDocName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

            <input type="submit" value="Удалить" class="knopka" />
    }
</div>
