@model IEnumerable<ViSED.Models.MyDocs>

@{
    ViewBag.Title = "Мои документы";
}

<h4  class="zagolovki">Мои документы</h4>

<br />
    @Html.ActionLink("Добавить новый документ", "AddDoc","MyDocs",null, new { @class = "ssilka" })
<br /><br />
<table class="table_col">

    <tr>
        <th>
            Наименование документа
        </th>
        <th style="width:20%;">Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.myDocName)
        </td>
        <td>
            <a class = "ssilka"  href="@Url.Content(item.myDoc)">Скачать</a> 
            @Html.ActionLink("Удалить", "DocDelete","MyDocs", new { id=item.id }, new { @class = "ssilka" })
        </td>
    </tr>
}
</table>
