@model IEnumerable<ViSED.ProgramLogic.AccountListModel>

@{
    ViewBag.Title = "Список учетных данных";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Список учетных данных</h4>

@using (Ajax.BeginForm("AccountSearch", "Admin", null, new AjaxOptions { UpdateTargetId = "results" }, null))
{
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
}

@Html.Partial("AccountSearch")