
@{
    ViewBag.Title = "Отписанные документы";

    ViSED.Models.Users user = ViewBag.User;

    NPetrovichLite.Petrovich petrovich = new NPetrovichLite.Petrovich();

    string userNameFrom = petrovich.Inflect(user.first_name, NPetrovichLite.NamePart.LastName, NPetrovichLite.Case.Instrumental) + " " + user.second_name.Substring(0, 1) + ". " + user.third_name.Substring(0, 1) + ".";
    string userNameTo = petrovich.Inflect(user.first_name, NPetrovichLite.NamePart.LastName, NPetrovichLite.Case.Accusative) + " " + user.second_name.Substring(0, 1) + ". " + user.third_name.Substring(0, 1) + ".";

}

<h4 class="zagolovki">Отписанные документы</h4>
<br />
@Html.ActionLink("Отписанные на меня "+ userNameFrom, "UnsubcribeIn", "Unsubscribe", new { userId = user.id }, new {@class= "ssilka" })
<br /><br />
@Html.ActionLink("Отписанные мной на "+ userNameTo, "UnsubcribeOut", "Unsubscribe", new { userId = user.id }, new { @class = "ssilka" })
