
@{
    ViewBag.Title = "Выбор типа";
}

<h4>Выберите тип</h4>
<hr />
@Html.ActionLink("Отписать новый документ", "UnsubcribeData", "Unsubscribe", null, null)
<hr />
@Html.ActionLink("Отписанные на меня", "UnsubcribeIn", "Unsubscribe", null, null)
<hr />
@Html.ActionLink("Отписанные мной", "UnsubcribeOut", "Unsubscribe", null, null)